*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*      MENU        */
.navPrincipal {
    display: flex;
    justify-content: space-between;
    width:90%;
    display: table;
    clear: both;
}

a {
    color: black;
    font-size: 20px;
    float: right;
    margin: 30px;
}

a:hover {
    color: red;
}

/*      IMAGEN ENTRE MENU Y MAIN        */

.imagenPrincipal {
    background-image: url(/img/principal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
    box-sizing: border-box;

}

/*      MAIN        */

.mainPrincipal {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.secciones {
    border: 2px solid;
    width: 30%;
    margin-top: 5px;
    text-align: center;
    margin:5px;

}
.secciones img {
    width: 100%;
    
}

.secciones:hover {
    background-color: rgba(194, 187, 187, 0.493);
}
figcaption {
    text-transform: uppercase;
    font-weight: bold;
}


/*      FOOTER      */

footer {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

section {
width:100%;
text-align: center;
}